@using Presentation.Extensions
@model PlatMensagem_Solution.ViewModels.PlanoViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="page-title">
        <h3 class="title">Planos de Assinatura</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("CarregarBase", "BaseAdmin")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("MontarTelaPlano", "PLano")">Planos de Assinatura</a>
            </li>
            <li class="active">
                <strong>Planos de Assinatura - Edição</strong>
            </li>
        </ol>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Planos de Assinatura - Edição</h5>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "Erros de Crítica Encontrados:", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="tabs-container">
                        @using (Html.BeginForm("EditarPlano", "Plano", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                        {

                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1">Dados do Plano</a></li>
                                <li><a data-toggle="tab" href="#tab-2">Assinantes Vinculados</a></li>
                            </ul>

                            <div class="tab-content">
                                @*Dados do Processo*@
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            @Html.ButtonActionSubmit(text: "Confirma Edição do Plano", htmlAttributes: new { id = "basictoast" })
                                            @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBasePlano", controller: "Plano")
                                            @Html.ButtonLinkIndex(text: "Dashboard", action: "Voltar", controller: "Plano")
                                        </div>
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    @Html.HiddenFor(m => m.PLAN_DT_CRIACAO)
                                                    @Html.HiddenFor(m => m.PLAN_IN_ATIVO)
                                                    @Html.HiddenFor(m => m.PLAN_CD_ID)
                                                    Nome*
                                                    @Html.TextBoxFor(m => m.PLAN_NM_NOME, new { @class = "form-control", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PLAN_NM_NOME, "", new { @style = "color:red" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data Criação
                                                    @Html.TextBoxFor(m => m.PLAN_DT_CRIACAO, "{0:dd/MM/yyyy}", new { @class = "form-control", autofocus = true, @readonly="readonly", @style = "font-weight:bold" })
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12">
                                                    Data Validade*
                                                    @Html.TextBoxFor(m => m.PLAN_DT_VALIDADE, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "dn", @style = "font-weight:bold" })
                                                    @Html.ValidationMessageFor(m => m.PLAN_DT_VALIDADE, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Descrição*
                                                    @Html.TextAreaFor(m => m.PLAN_DS_DESCRICAO, new { @class = "form-control", style = "width: 100%; height: 100px;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PLAN_DS_DESCRICAO, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                            @if (Model.ASSINANTE.Count == 0)
                                            {
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <h5 style="color:green; font-weight: bold; margin-left: 15px; margin-right: 15px;">Se estes campos forem deixados zerados, não haverá limite definido</h5>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Num.Usuários
                                                        @Html.TextBoxFor(m => m.PLAN_NR_USUARIOS, new { @class = "form-control touchspin2", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.PLAN_NR_USUARIOS, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Num.Contatos
                                                        @Html.TextBoxFor(m => m.PLAN_NR_CONTATOS, new { @class = "form-control touchspin2", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.PLAN_NR_CONTATOS, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Num.E-Mails/Mês
                                                        @Html.TextBoxFor(m => m.PLAN_NR_EMAIL, new { @class = "form-control touchspin2", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.PLAN_NR_EMAIL, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Num.SMS/Mês
                                                        @Html.TextBoxFor(m => m.PLAN_NR_SMS, new { @class = "form-control touchspin2", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.PLAN_NR_SMS, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Num.WhatsApp/Mês
                                                        @Html.TextBoxFor(m => m.PLAN_NR_WHATSAPP, new { @class = "form-control touchspin2", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.PLAN_NR_WHATSAPP, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Num.Processos
                                                        @Html.TextBoxFor(m => m.PLAN_NR_PROCESSOS, new { @class = "form-control touchspin2", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.PLAN_NR_PROCESSOS, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Num.Ações
                                                        @Html.TextBoxFor(m => m.PLAN_NR_ACOES, new { @class = "form-control touchspin2", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.PLAN_NR_ACOES, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Preço (R$)
                                                        @Html.TextBoxFor(m => m.PLAN_VL_PRECO, new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.PLAN_VL_PRECO, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Preço Promoção (R$)
                                                        @Html.TextBoxFor(m => m.PLAN_VL_PROMOCAO, new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.PLAN_VL_PROMOCAO, "", new { @style = "color:red" })
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        Periodicidade*
                                                        @Html.DropDownListFor(m => m.PLPE_CD_ID, (SelectList)ViewBag.Periodicidades, "Selecionar", new { @class = "form-control", autofocus = true })
                                                        @Html.ValidationMessageFor(m => m.PLPE_CD_ID, "", new { @style = "color:red" })
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <h5 style="color:green; font-weight: bold; margin-left: 15px; margin-right: 15px;">Se estes campos forem deixados zerados, não haverá limite definido</h5>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Num.Usuários
                                                        @Html.TextBoxFor(m => m.PLAN_NR_USUARIOS, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Num.Contatos
                                                        @Html.TextBoxFor(m => m.PLAN_NR_CONTATOS, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Num.E-Mails/Mês
                                                        @Html.TextBoxFor(m => m.PLAN_NR_EMAIL, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Num.SMS/Mês
                                                        @Html.TextBoxFor(m => m.PLAN_NR_SMS, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Num.WhatsApp/Mês
                                                        @Html.TextBoxFor(m => m.PLAN_NR_WHATSAPP, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                    </div>
                                                </div>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Num.Processos
                                                        @Html.TextBoxFor(m => m.PLAN_NR_PROCESSOS, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Num.Ações
                                                        @Html.TextBoxFor(m => m.PLAN_NR_ACOES, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                    </div>
                                                </div>
                                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Preço (R$)
                                                        @Html.TextBoxFor(m => m.PLAN_VL_PRECO, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12">
                                                        Preço Promoção (R$)
                                                        @Html.TextBoxFor(m => m.PLAN_VL_PROMOCAO, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-xs-12">
                                                        Periodicidade
                                                        @Html.TextBoxFor(m => m.PLANO_PERIODICIDADE.PLPE_NM_NOME, new { @class = "form-control", autofocus = true, @readonly="readonly" })
                                                    </div>
                                                </div>
                                            }

                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <h5 style="color:darkblue; font-weight: bold; margin-left: 15px; margin-right: 15px;">Se este campo for deixado em branco, o site exibirá a Descrição acima</h5>
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    Texto do Site*
                                                    @Html.TextAreaFor(m => m.PLAN_TX_SITE, new { @class = "form-control", style = "width: 100%; height: 100px;", autofocus = true })
                                                    @Html.ValidationMessageFor(m => m.PLAN_TX_SITE, "", new { @style = "color:red" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.ButtonActionSubmit(text: "Confirma Edição do Plano", htmlAttributes: new { id = "basictoast" })
                                            @Html.ButtonLinkIndex(text: "Voltar", action: "VoltarBasePlano", controller: "Plano")
                                            @Html.ButtonLinkIndex(text: "Dashboard", action: "Voltar", controller: "PLano")
                                        </div>
                                    </div>
                                </div>

                                @*Assinantes*@
                                <div id="tab-2" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    <h4>Assinantes Vinculados</h4>
                                                    <br />
                                                    @if (Model.ASSINANTE.Count > 0)
                                                    {
                                                        <table class="table table-striped table-bordered table-hover dataTables-example">
                                                            <thead style="background-color:lightsteelblue">
                                                                <tr>
                                                                    <th>Nome</th>
                                                                    <th>CPF</th>
                                                                    <th>CNPJ</th>
                                                                    <th>E-Mail</th>
                                                                    <th>Telefone</th>
                                                                    <th>Celular</th>
                                                                    <th class="td-one-action">Ações</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var cond in (Model.ASSINANTE))
                                                                {
                                                                    <tr>
                                                                        <td>@cond.ASSI_NM_NOME</td>
                                                                        @if (cond.ASSI_NR_CPF != null)
                                                                        {
                                                                            <td>@cond.ASSI_NR_CPF</td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>-</td>
                                                                        }
                                                                        @if (cond.ASSI_NR_CNPJ != null)
                                                                        {
                                                                            <td>@cond.ASSI_NR_CNPJ</td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>-</td>
                                                                        }
                                                                        <td>@cond.ASSI_NM_EMAIL</td>
                                                                        <td>@cond.ASSI_NR_TELEFONE</td>
                                                                        <td>@cond.ASSIN_NR_CELULAR</td>
                                                                        <td class="td-one-action">
                                                                            @Html.TableLinkDetails(cond.ASSI_CD_ID, "VerAssinante", "fa-search", "Consultar")
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @*@Styles.Render("~/Content/plugins/summernote/summernote.css")*@
    <link href="~/Content/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
    @Styles.Render("~/plugins/summernoteStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
}
@section Scripts {
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.datetimepicker"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sparkline")
    @*@Scripts.Render("~/Scripts/plugins/summernote/summernote.min.js")*@
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>    
    <script src="~/Scripts/uploadAnexo.js"></script>
    @Scripts.Render("~/plugins/summernote")
    @Scripts.Render("~/plugins/touchSpin")

    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
                .css("display", "normal")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecione uma data",
                    text: false
                });
        });
    </script>

    <script type="text/javascript">
        $(".touchspin2").TouchSpin({
            min: 0,
            max: 1000000000,
            step: 1,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#dn").mask("99/99/9999");
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
            var getMessage = function () {
                var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
                return msg;
            };

            $('#basictoast').click(function () {
                // Display a success toast, with a title
                toastr.success('Inclusão em andamento!')
            });
            $('#showtoast').click(function () {
                var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
                var msg = $('#message').val();
                var title = $('#title').val() || '';
                var $showDuration = $('#showDuration');
                var $hideDuration = $('#hideDuration');
                var $timeOut = $('#timeOut');
                var $extendedTimeOut = $('#extendedTimeOut');
                var $showEasing = $('#showEasing');
                var $hideEasing = $('#hideEasing');
                var $showMethod = $('#showMethod');
                var $hideMethod = $('#hideMethod');
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: $('#closeButton').prop('checked'),
                    debug: $('#debugInfo').prop('checked'),
                    progressBar: $('#progressBar').prop('checked'),
                    positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                    onclick: null
                };
                if ($('#addBehaviorOnToastClick').prop('checked')) {
                    toastr.options.onclick = function () {
                        alert('You can perform some custom action after a toast goes away');
                    };
                }
                if ($showDuration.val().length) {
                    toastr.options.showDuration = $showDuration.val();
                }
                if ($hideDuration.val().length) {
                    toastr.options.hideDuration = $hideDuration.val();
                }
                if ($timeOut.val().length) {
                    toastr.options.timeOut = $timeOut.val();
                }
                if ($extendedTimeOut.val().length) {
                    toastr.options.extendedTimeOut = $extendedTimeOut.val();
                }
                if ($showEasing.val().length) {
                    toastr.options.showEasing = $showEasing.val();
                }
                if ($hideEasing.val().length) {
                    toastr.options.hideEasing = $hideEasing.val();
                }
                if ($showMethod.val().length) {
                    toastr.options.showMethod = $showMethod.val();
                }
                if ($hideMethod.val().length) {
                    toastr.options.hideMethod = $hideMethod.val();
                }
                if (!msg) {
                    msg = getMessage();
                }
                $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
                );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
                $toastlast = $toast;
                if ($toast.find('#okBtn').length) {
                    $toast.delegate('#okBtn', 'click', function () {
                        alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                        $toast.remove();
                    });
                }
                if ($toast.find('#surpriseBtn').length) {
                    $toast.delegate('#surpriseBtn', 'click', function () {
                        alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                    });
                }
            });
            function getLastToast() {
                return $toastlast;
            }
            $('#clearlasttoast').click(function () {
                toastr.clear(getLastToast());
            });
            $('#cleartoasts').click(function () {
                toastr.clear();
            });

        });
    </script>

    <script>
        SendFilesV2('imgCRM', 'CRM', 'UploadFileToSession');
    </script>


    <script>
        $('#filGeral option[value=10]').prop('selected', true);
    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
